@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-inter: "Inter", sans-serif;
}

@theme {
  --color-primary: oklch(55.9% 0.224 260.33);
  --color-primary-50: oklch(84.14% 0.073 258.12);
  --color-primary-500: oklch(37.03% 0.14 259.71);
  --color-primary-600: oklch(31.85% 0.118 259.63);
  --color-primary-700: oklch(26.71% 0.093 258.91);
  --color-primary-900: oklch(20.91% 0.067 256.95);
  --color-secondary: oklch(66.91% 0.199 41.76);
  --color-secondary-100: oklch(91.51% 0.045 49.64);
  --color-secondary-500: oklch(55.67% 0.163 42.19);
  --color-red-errors: oklch(53.44% 0.206 21.23);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
}

.truncate {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.table-striped tbody tr:nth-child(odd) {
  @apply bg-gray-50;
}

.table-striped tbody tr:nth-child(even) {
  @apply bg-white;
}

.table-striped tbody td {
  @apply px-4 py-4;
}

.info tbody td {
  @apply px-2 py-1;
}

@layer utilities {
  .bg-gradient-radial {
    background-image: radial-gradient(
      ellipse 50% 30% at bottom,
      oklch(37.03% 0.14 259.71),
      oklch(20.91% 0.067 256.95)
    );
  }
}
